@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700&family=Roboto:wght@300;400;500;700&display=swap");
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }
  *::after, *::before {
    content: '';
    position: absolute; }

html,
body {
  height: 100%;
  width: 100%; }

body {
  background-color: #fff;
  color: #242424; }

img {
  height: 100%;
  width: 100%;
  vertical-align: bottom; }

.wrapper {
  display: flex;
  margin: 0 auto;
  width: 1200px;
  max-width: 1600px; }

html {
  font-size: 62.5%; }

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-weight: 400; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  text-transform: capitalize; }

h1 {
  font-size: 2em; }

h2 {
  font-size: 1.5em; }

h3 {
  font-size: 1.17em; }

h4 {
  font-size: 1em; }

h5 {
  font-size: .83em; }

h6 {
  font-size: .67em; }

.logo {
  background-color: #ddd;
  padding: 2.5rem;
  font-size: 2.4rem;
  color: #242424;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase; }

.hero--heading {
  font-family: "Playfair Display", serif;
  font-size: 5.6rem;
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: 7.5rem; }

.hero__text {
  font-size: 1.8rem;
  margin-bottom: 5rem; }

.visible__text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0rem;
  cursor: pointer; }
  .visible__text:hover .plus--line--2 {
    height: 0%; }

.plus {
  height: 1.5rem;
  width: 1.5rem;
  position: relative;
  cursor: pointer;
  /*&:hover .plus--line--2 {
        height: 0%;
    }*/ }
  .plus--line--1 {
    height: 1px;
    max-height: 1px;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0%;
    background-color: #242424; }
  .plus--line--2 {
    height: 100%;
    width: 1px;
    max-width: 1px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0%;
    background-color: #242424;
    transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transform-origin: center; }

.hidden--text {
  height: 0;
  opacity: 0;
  transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86); }

.visible__text:hover ~ .hidden--text {
  height: 20px;
  opacity: 1; }

.link {
  color: #242424;
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 120%;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  z-index: 2; }
  .link::after {
    left: 0%;
    bottom: 0%;
    height: 7px;
    width: 100%;
    z-index: -1; }
  .link--grey::after {
    background-color: #ddd; }
  .link--white::after {
    background-color: #fff; }

.cta {
  color: #242424;
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: capitalize;
  text-decoration: none;
  padding: 1.2rem 5rem;
  border: 1px solid #242424;
  transition: all 0.3s cubic-bezier(0.47, 0, 0.745, 0.715); }
  .cta:hover {
    background-color: #242424;
    color: #fff; }

.footer {
  background-color: #242424;
  color: #fff;
  padding: 7.5rem 0rem;
  position: sticky;
  bottom: 0%;
  left: 0%;
  width: 100%;
  z-index: -1; }
  .footer .wrapper {
    justify-content: space-between;
    align-items: flex-start; }
  .footer ul {
    list-style: none; }
  .footer li:not(:last-child) {
    margin-bottom: 1.2rem; }
  .footer a {
    color: #fff;
    display: block;
    font-size: 1.4rem;
    font-weight: 400;
    text-transform: capitalize;
    text-decoration: none; }
    .footer a:hover {
      text-decoration: underline; }

.grid {
  display: grid;
  width: 100%; }

.hero .grid {
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  height: 100%; }
  .hero .grid__item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column; }
    .hero .grid__item--1 {
      grid-column: 2 / 8;
      grid-row: 5 / 7;
      position: relative;
      z-index: 2; }
    .hero .grid__item--2 {
      grid-column: 4 / -1;
      grid-row: 1 / -1;
      background-image: url(../images/hero.jpg);
      background-attachment: fixed;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover; }

.home-projects .grid {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 7.5rem;
  margin: 10rem 0rem; }
  .home-projects .grid__item {
    height: 75rem;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; }
    .home-projects .grid__item--1 {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      background-image: url(../images/relizedproject1.jpg); }
    .home-projects .grid__item--2 {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
      background-image: url(../images/relizedproject2.jpg); }
    .home-projects .grid__item--3 {
      grid-column: 1 / 2;
      grid-row: 3 / 4;
      background-image: url(../images/relizedproject3.jpg); }
    .home-projects .grid__item--4 {
      grid-column: 2 / 3;
      grid-row: 4 / 5;
      background-image: url(../images/relizedproject4.jpg); }

.instagram .grid {
  grid-template-columns: repeat(4, 1fr);
  height: 35rem;
  gap: 2.5rem;
  margin-top: 10rem; }
  .instagram .grid__item a img {
    object-fit: cover; }

.header {
  padding: 4.5rem 0rem;
  width: 100%;
  position: fixed;
  top: 0%;
  left: 0%;
  z-index: 5; }
  .header .wrapper {
    width: 90%;
    justify-content: space-between;
    align-items: center; }
  .header__menu {
    display: none; }

.nav {
  display: flex;
  align-items: center; }
  .nav ul {
    list-style: none;
    display: flex; }
    .nav ul:not(:last-child) {
      margin-right: 5rem; }
  .nav li:not(:last-child) {
    margin-right: 2.5rem; }
  .nav a {
    display: block;
    color: #242424;
    font-size: 1.8rem;
    font-weight: 400;
    text-decoration: none;
    text-transform: capitalize; }
  .nav--link {
    position: relative;
    overflow: hidden;
    line-height: 180%; }
    .nav--link::before, .nav--link::after {
      bottom: 0%;
      height: 2px;
      width: 0%;
      background-color: #242424;
      transition: all 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86); }
    .nav--link::before {
      left: 50%; }
    .nav--link::after {
      right: 50%; }
    .nav--link:hover::after, .nav--link:hover::before {
      width: 50%; }
  .nav--social {
    transition: all 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    display: flex;
    justify-content: center;
    align-items: center; }
    .nav--social:not(:last-child) {
      margin-right: 2.5rem; }
    .nav--social i {
      display: block;
      margin-top: -7px; }

.hero {
  background-color: #fff;
  height: 100%;
  width: 100%; }

.home-about {
  background-color: #f2f2f2;
  padding: 10rem 0rem; }
  .home-about .wrapper {
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column; }
  .home-about__item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 6rem; }
  .home-about__text {
    margin-bottom: 5rem;
    font-size: 1.8rem;
    font-weight: 300; }

.home-projects {
  background-color: #fff;
  padding: 10rem 0rem; }
  .home-projects .wrapper {
    justify-content: center; }

.home-services {
  background-color: #fff;
  padding: 10rem 0rem; }
  .home-services .wrapper {
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column; }
  .home-services .container {
    margin: 10rem 0rem;
    width: 100%; }
  .home-services__item {
    padding: 3rem 0rem;
    border-bottom: 2px solid #f2f2f2;
    overflow: hidden; }

.instagram {
  background-color: #fff;
  padding: 10rem 0rem; }
  .instagram .wrapper {
    justify-content: space-between;
    align-items: center; }

.name {
  font-size: 1.6rem;
  font-weight: 300;
  text-transform: capitalize;
  margin-bottom: 5rem; }
  .name P:not(:last-child) {
    margin-bottom: 1rem; }

.questions {
  background-color: #fff;
  padding-top: 10rem; }
  .questions__text {
    margin-top: 10rem;
    padding: 7.5rem 0rem;
    background-color: #f2f2f2; }
    .questions__text .wrapper {
      display: grid;
      width: 120rem;
      grid-template-columns: repeat(2, 1fr);
      gap: 20rem;
      margin: 0 auto;
      align-items: center; }
  .questions__item p {
    line-height: 160%;
    font-weight: 300;
    font-size: 1.8rem; }
