//Colors
$white: #fff;
$grey-light: #f2f2f2;
$grey-medium: #ddd;
$grey-dark: #747474;
$dark: #242424;

//Fonts
$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Playfair Display', serif;

//Media queries
$media-small: 960px;