.header {
    padding: 4.5rem 0rem;
    width: 100%;
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 5;

    & .wrapper {
        justify-content: space-between;
        align-items: center;
        width: 90%;
    }

    &__menu {
        display: none;
        @media only screen and(max-width: $media-small) {
            display: inline-block;
            height: 2.6rem;
            width: 5rem;

            &--line {
                height: .2rem;
                width: 100%;
                background-color: $dark;

                &:not(:last-child) {
                    margin-bottom: 1rem;
                }
            }
        }
    }
}