@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700&family=Roboto:wght@300;400;500;700&display=swap');

html {
    font-size: 62.5%;
}

body {
    font-family: $font-primary;
    font-size: 1.6rem;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-primary;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 180%;
}

h1, h2 {
    margin-bottom: 5rem;
}

h3, h4 {
    margin-bottom: 3.5rem;
}

h5, h6 {
    margin-bottom: 2.5rem;
}

h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1em; }
h5 { font-size: .83em; }
h6 { font-size: .67em; }

.logo {
    background-color: $grey-medium;
    padding: 2.5rem;
    font-size: 2.4rem;
    color: $dark;
    font-family: $font-secondary;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
}

.hero {
    &--heading {
        font-family: $font-secondary;
        font-size: 5.6rem;
        font-weight: 500;
        text-transform: capitalize;
        margin-bottom: 7.5rem;
    }

    &__text {
        font-size: 1.8rem;
        margin-bottom: 5rem;
    }
}

.home-services {
    & h2 {
        line-height: 0;
        margin-bottom: 2.5rem;
    }
}

.visible__text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0rem;
    cursor: pointer;

    &:hover .plus--line--2 {
        height: 0%;
    }
}

.plus {
    height: 1.5rem;
    width: 1.5rem;
    position: relative;
    cursor: pointer;

    &--line--1 {
        height: 1px;
        max-height: 1px;
        width: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0%;
        background-color: $dark;
    }

    &--line--2 {
        height: 100%;
        width: 1px;
        max-width: 1px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0%;
        background-color: $dark;
        transition: all .3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        transform-origin: center;
    }

    /*&:hover .plus--line--2 {
        opacity: 0;
    }*/
}

.hidden--text {
    height: 0;
    opacity: 0;
    transition: all .3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.visible__text:hover ~ .hidden--text{
    height: 20px;
    opacity: 1;
}

.link {
    color: $dark;
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 120%;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    z-index: 2;

    &::after {
        left: 0%;
        bottom: 0%;
        height: 7px;
        width: 100%;
        z-index: -1;
    }

    &--grey {
        &::after {
            background-color: $grey-medium;
        }
    }

    &--white {
        &::after {
            background-color: $white;
        }
    }
}

.intro-animation {
    transition: all 2s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    animation: intro-text 2s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
    animation-play-state: running;
    opacity: 0;
    transform: translateY(25%);

    &:nth-child(2n) {
        animation-delay: 1s;
    }
}

@keyframes intro-text {
    0% {
        transform: translateY(25%);
        opacity: 0;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

.projects{
    &__text {
        width: 50%;
        font-size: 1.8rem;
        font-weight: 300;
        line-height: 160%;
    }
}

.text__area {
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 160%;
}

p {
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 160%;
}

.big--link {
    font-size: 3.2rem;
    font-weight: 500;
    color: $dark;
    text-decoration: none;
    line-height: 180%;
    letter-spacing: .1rem;
    transition: all .3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    position: relative;
    overflow: hidden;

    &:not(:last-child) {
        margin-bottom: 3.5rem;
    }

    &::after {
        left: 0%;
        bottom: 0%;
        height: .5rem;
        width: 100%;
        background-color: $dark;
        transform: translateX(-100%);
        opacity: 0;
        transition: all .3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    }

    &:hover::after {
        opacity: 1;
        transform: translateX(0%);
    }
    
}

.terms {
    font-size: 1.2rem;
    font-weight: 400;
}

::placeholder {
    font-size: 1.6rem;
    font-weight: 400;
    color: rgba($dark, .8);
}