.contact {
    background-color: $white;
    padding: 10rem 0rem;
    height: 100%;
    width: 100%;

    & .wrapper {
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        height: 100%;
    }

    &__area {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    &__item {
        display: inline;

        &:first-child {
            width: 50%;
        }
    }

    &-form {
        background-color: $white;
        padding: 10rem 0rem;

    }
}

.social-networks {
    padding: 10rem 0rem;
    background-color: $grey-light;
}