.hero {
    background-color: $white;
    height: 100%;
    width: 100%;
}

.home {
    
    &-about {
        background-color: $grey-light;
        padding: 10rem 0rem;

        & .wrapper {
            justify-content: space-between;
            align-items: flex-start;
            flex-direction: column;
        }

        &__item {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            flex-direction: column;
            margin-top: 6rem;
        }

        &__text {
            margin-bottom: 5rem;
            font-size: 1.8rem;
            font-weight: 300;
        }
    }

    &-projects {
        background-color: $white;
        padding: 10rem 0rem;

        & .wrapper {
            justify-content: center;
        }
    }

    &-services {
        background-color: $white;
        padding: 10rem 0rem;

        & .wrapper {
            justify-content: space-between;
            align-items: flex-start;
            flex-direction: column;
        }

        & .container {
            margin: 10rem 0rem;
            width: 100%;
        }

        &__item {
            padding: 3rem 0rem;
            border-bottom: 2px solid $grey-light; 
            overflow: hidden;
        }
    }
}

.instagram {
    background-color: $white;
    padding: 10rem 0rem;

    & .wrapper {
        justify-content: space-between;
        align-items: center;
    }
}

//to typography
.name {
    font-size: 1.6rem;
    font-weight: 300;
    text-transform: capitalize;
    margin-bottom: 5rem;

    & P {
        &:not(:last-child) {
            margin-bottom: 1rem;
        }
    }
}

.questions {
    background-color: $white;
    padding-top: 10rem;

    &__text {
        margin-top: 10rem;
        padding: 7.5rem 0rem;
        background-color: $grey-light;

        & .wrapper {
            display: grid;
            width: 120rem;
            grid-template-columns: repeat(2, 1fr);
            gap: 20rem;
            margin: 0 auto;
            align-items: center;
        }
    }

    &__item {
        & p {
            line-height: 160%;
            font-weight: 300;
            font-size: 1.8rem;
        }
    }
}